In [2]:
import pandas as pd

In [64]:
df = pd.read_csv("./ccClub_project_ptt_data_1400-1838_v4.csv", delimiter=',').astype(str)
df = df.drop(['Unnamed: 0', 'title', 'content', 'recommend_type', 'surgery_type', 'surgery_location'], axis=1)

In [65]:
df1 = df.iloc[[1]]

In [66]:
import re

pattern1 = r"[\[a-zA-Z0-9:, ?\./!'\]？！~…～\n]+"

In [70]:
df2 = df1.replace(pattern1, '', regex=True)

In [71]:
import cntext

In [75]:
diction = {
    'Pos': ['喜歡', '很好', '不錯', '推薦', '自然', '漂亮', '強', '推', '滿意','耐心', '超美', '不錯看'],
    'Neg': ['不喜歡'],
    'Adv': []
}
"""
for col in df2:
    result = cntext.sentiment(diction=diction, text=df2[col], lang="chinese")
    if result['Pos_num'] - result['Neg_num'] > 0:
        print(df2[col])
"""
def sentiment(x):
    result = cntext.sentiment(diction=diction, text=x, lang="chinese")
    return True if result['Pos_num'] - result['Neg_num'] > 0 else False
        
df3 = df2.applymap(sentiment)
df3

,comment_1,comment_2,comment_3,comment_4,comment_5,comment_6,comment_7,comment_8,comment_9,comment_10,...,comment_91,comment_92,comment_93,comment_94,comment_95,comment_96,comment_97,comment_98,comment_99,comment_100
1,False,False,True,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False